
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 Not Found</title>
    <style>
        #err {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #CE2D12, 0 0 30px #CE2D12, 0 0 40px #CE2D12, 0 0 55px #CE2D12, 0 0 75px #CE2D12, 2px 2px 2px rgba(206,42,16,0), 2px 2px 2px rgba(119,30,206,0);
            color: #FFFFFF;
            background: #000;
        }
    </style>
</head>
<body>
    <div id="err" style="width:100%; text-align:center;">
        <span>
            <p style="margin:0; padding:0; font-size:40px;">ERROR 404</p>
            <span style="font-size:50px; margin-top:40px; display:block;">NOT FOUND !!!</span>
        </span>
    </div>
</body>
</html>
