
@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

<div id="err" style="width:100%; text-align:center; padding:20px;">
    <div>
        <img src="~/Content/Error/Fix-Error-520.png" style="width:60%;" />
    </div>
    <span style="font-weight:400; font-size:20px; margin-top:10px; display:block;">Xin lỗi vì sự bất tiện này !!!</span>
</div>
