
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forbidden</title>
</head>
<body>
    <div id="err" style="width:100%; text-align:center;">
        <div>
            <img src="~/Content/Error/403-forbidden-error.jpg" style="width:100%; object-fit:contain; position:fixed; top:0; left:0;" />
        </div>
        @*<span style="font-weight:400; font-size:20px; margin-top:10px; display:block; position:fixed; top: 5%; left: 20px; background-color:red; color: black; padding: 20px 10px; border-radius:5px;">
            Bạn không được phép thực hiện !!!
        </span>*@
    </div>
</body>
</html>
